body {
    font-family: var(--main-font-family);
    background-color: var(--main-background-color);
    font-size: var(--text-size-medium);
}

td {
    padding: 0.5em;
}

tr :hover {
    cursor: pointer;
    background-color: var(--modal-background-color);
}

input, select, button {
    margin:2px;
    border-radius: 5px;
    border-style: outset;
    /* border-color: blue; */
    border-width: 2px;
    font-size: var(--text-size-medium);
}

.modal {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    padding: 2%;
    border-radius: 20px;
    background-color: var(--main-background-color);
    font-size: var(--text-size-large);
}

.modaloverlay {
    background-color: var(--main-background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ************************* */
.apptopdiv {
    width: 100%;
    margin: auto;
}

.topimage {
    max-width: 200px;
    margin: auto;
    align-self: center;
}

/* ************************* */
.homepagetopdiv {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

/* .homepagetopdiv p, button {
    display: inline;
} */

.homepageheaderdiv {
    /* position: relative; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hamburgerdiv {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
}
.hamburgerdiv :hover {
    cursor: pointer;
}

.hamburgerdiv img {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.hamburgerelementsdiv {
    position: absolute;
    top: 3em;
    right: 0.5em;
}

.hamburgerelementsdiv p, button {
    text-align: right;
    margin-left: auto;
    margin-right: 0px !important;
}

/* ************************* */
.memberformtopdiv {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.memberform {
    margin-left: auto;
    margin-right: auto;
}

.memberform input, select, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ************************* */
.memberformadmintoppdiv {
    width: 100%;
    margin: auto;
    text-align: center;
}

/* ************************* */
.memberadminform {
    margin-left: auto;
    margin-right: auto;
}

.memberlisttable {
    margin-left: auto;
    margin-right: auto;
}